{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}

<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">

{% endblock %}
{% block title %}HOME{{ nombre }}{% endblock %}
{% block navbar %}

<div class="navbar navbar-inverse bg-inverse mi-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Le damos la Bienvenida</a>
        </div>
<!--El siguiente if es para poder realizar la validacion de los menus a partir del usuario -->
    {% if username %}
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/basededatos">Datos</a></li>
                <li><a href="/cliente">Socio</a></li>
               <li><a href="/ventas">Ventas</a></li>
                <li><a href="/producto">Por Medicamento</a></li>
                <li><a href="/cantidad">Por Cantidad</a></li>
                <li><a href="/precio">Por Costo</a></li>                
                <li><a href="/signoff">Salir</a></li>                
            </ul>
        </div>
    {% else %}
       <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">                
                <li><a href="/login">Loguearse</a></li>
                <li><a href="/register">Crear cuenta</a></li>
            </ul>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('es') }}
{% endblock %}
