{% extends "base.html" %}
{% block title %}Busqueda por Cantidad{% endblock %}
{% block page_content %}
<form method="POST" action="/cantidad">
    
    {{ form.csrf_token }}
    {{ form.parametro.label }} </br> {{ form.parametro(size=20) }}
    {% if form.errors %}
    <ul class="errors" style="color: red;" >
        {% for error in form.parametro.errors %}
          <li>{{ error }}</li>
        {% endfor %}        
        </ul>
    {% endif %}
    </br> 
    </br> 
    <input type="submit" value="Enviar">
    </br>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes style="color:red;">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}