{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Bienvenido a la Base de Datos de FarmaDragon</h1>

	</br>
	</br>
<body style="background-color:#FF0000;">

    <mark style="color:#FF0000;">Novedades:</mark>
    <div class="mi-titulo">
    	<h2>Descuento y Promociones con:</h2>
	</div>
    
    <div class="lista-descuentos">
	    <ul>
			<li>PAMI</li>
			<li>OBRAS SOCIALES</li>
			<li>PAMI ONCOLOGICO</li>
			<li>RECETAS MAGISTRALES</li>
			<li>RECETARIO SOLIDARIO</li>
			<li>RECETAS MAGISGRALES</li>
			<li>RECETARIO SOLIDRIO</li>
			<li>POLICIA FEDERAL</li>
			
		</ul>
	</div>

</div>
{% endblock %}
