{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block page_content %}
{% if username %}
<h1> Ya estas logueado como {{username}}, <a href="/desloguearse">desloguearse</a> </h1>
{% else %}
<form method="POST" action="/login">
    {{ form.csrf_token }}
    <table cellspacing="10">
    	<tr>
    		<td> {{ form.name.label }} </td><td>&nbsp;</td><td> {{ form.name(size=20) }} </td>
		</tr>
    {{ form.csrf_token }}
    	<tr>
    		<td>{{ form.password.label }} </td><td>&nbsp;</td><td> {{ form.password(size=20) }} </td>
    	</tr>
    </table>
	
	{% if form.errors %}
	
	<ul class="errors" style="color: red;" >
	    {% for error in form.name.errors %}
	      <li>{{ error }}</li>
	    {% endfor %}
	    {% for error in form.password.errors %}
	      <li>{{ error }}</li>
	    {% endfor %}
	    </ul>
	{% endif %}
	
	</br>
	</br>

    <input type="submit" value="Enviar">
</form>
</br>	
<p><a href="/register">Registrarse</a> para adquirir un Usuario.</p>
{% endif %}
{% endblock %}